html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Source Sans Pro';
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 8px 12px;
}

.navbar_logo {
    font-size: 24px;
    color: white;
}

.navbar_logo {
    color: orange;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li {
    padding: 8px 12px;
}

.navbar_menu li:hover {
    background-color: orange;
    border-radius: 4px;
}

.navbar_button {
    list-style: none;
    display: flex;
    text-align: center;
}

.navbar_button li {
    background-color: #f8585b;
    border-radius: 10px;
    margin: 5px;
    padding: 8px 15px;
}

.foot {
    position: fixed;
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: space-around;
    background-color: lightgrey;
    padding: 30px;
}

.popover-content {
    height: 180px;  
    width: 200px;  
}
  
textarea.popover-textarea {
    border: 1px;   
    margin: 0px; 
    width: 100%;
    height: 100%;
    padding: 0px;  
    box-shadow: none;
}
  
.popover-footer {
    margin: 0;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #EBEBEB;
    border-radius: 5px 5px 0 0;
}
/*   
a {
    padding: 0px 20px 20px 20px;
    float: left;
    vertical-align: middle;
    width: 100px;
    margin: 5px;
} */
  