<center>
    <div class="userinfo_home">
        <div class="userinfo_head">
            <%= user.name %>'s Info
        </div>
        <div class="userinfo_item">
            ID : <%= user.user_id %>
        </div>
        <div class="userinfo_pw">
            비밀번호 변경 : <input type="password">
        </div>
        <div class="userinfo_pw">
            비밀번호 확인 : <input type="password"> <button>비밀번호 변경</button>
        </div>
        <div class="userinfo_item">
            NickName
        </div>
        <div class="userinfo_item">
            Address
        </div>
        <div class="userinfo_item">
            E-mail
        </div>
        <div class="userinfo_posts">
            게시한 글
        </div>
    </div>
</center>