<center>
    <div class="userinfo_home">
        User Info
        <div class="userinfo_item">
            ID
        </div>
        <div class="userinfo_item">
            비밀번호 변경
        </div>
        <div class="userinfo_item">
            NickName
        </div>
        <div class="userinfo_item">
            Address
        </div>
        <div class="userinfo_item">
            E-mail
        </div>
        <div class="userinfo_item">
            추천 수
        </div>
    </div>
</center>