<style>
    .foot {
        position: fixed;
        display: flex;
        left: 0;
        right: 0;
        bottom: 0;
        justify-content: space-around;
        background-color: rgb(176, 181, 185);
        padding: 20px;
        opacity: 0.5;
      }
</style>

<footer class="foot">
    <h5>Copyright 2021 Lee Hyeonho, Hong Youngki</h5>
</footer>