<script
    src="https://kit.fontawesome.com/2d323a629b.js"
    crossorigin="anonymous"
>
</script>
<style>
    .navbar_logo {
        color: orange;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="navbar_logo">
            <i class="fab fa-accusoft"></i>
            <a class="navbar-brand" href="/BackHome">Soruce Advice</a>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/BackHome">ALL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/board_c">C</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/board_java">Java</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/board_python">Python</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/board_userinfo">MyPage</a>
                </li>
            </ul>
        </div>
    </div>
    <h5 style="margin-right:1%; color: white; text-align:center;">Welcome! <%= id %></h5>
    <form class="navbar_user" action="/logout" method="POST">
        <button class="btn btn-warning" type="submit" style="margin-right: 20px;">Logout</button>
    </form>
</nav>