<html>

<head>
    <meta charset="utf-8">
    <title>
        find Password
    </title>
    <link rel="stylesheet" href="./login.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body>
    <center>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <h1>
                    <!-- 비밀번호가 null이면 찾기 실패, 아니면 찾은 비밀번호 보여주기 -->
                    <% if(!passwordid) {%>
                        Can Not Find Password
                    <%} else {%>
                        Your Password <%= passwordid %>
                    <%}%>
                </h1>

                <form action="/BackHome" method="POST">
                    <button class="btn btn-outline-secondary" type="submit">홈 화면으로</button>
                </form>
            </div>
        </div>
    </center>
</body>
</head>

</html>