<html>

<head>
    <meta charset="utf-8">
    <title>
        find Password
    </title>
    <link rel="stylesheet" href="./login.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body>
    <center>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- result가 null이면 못찾았다고 메시지, result에 id가 있으면 새로운 비밀번호 입력 -->
                <% if(!result) {%>
                    <h1>Can Not Find User!</h1>
                <%} else {
                    id = result
                %>
                <form action="/newPassword" method="POST">
                    <h1>
                        New Password
                        <br>
                        <input id="password1" name="password1" type="password" style="width:400px" placeholder="Password">
                        <input id="password2" name="password2" type="password" style="width:400px" placeholder="Password">
                        <button class="btn btn-outline-secondary" style="margin:2%" type="submit">비밀번호 변경</button>
                    </h1>
                </form>
                <%}%>
                <form action="/BackHome" method="POST">
                    <button class="btn btn-outline-secondary" type="submit">홈 화면으로</button>
                </form>
            </div>
        </div>
    </center>
</body>
</head>

</html>