<html>

<head>
    <meta charset="utf-8">
    <title>
        Register Result
    </title>
    <link rel="stylesheet" href="./login.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body>
    <center>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <h1>
                    <!-- 결과가 true면 성공, false면 이미 있는 아이디라서 실패 -->
                    <% if(result == true) {%>
                        Register Clear!
                    <%} else {%>
                        User ID Duplicate!
                    <%}%>
                </h1>

                <form action="/BackHome" method="POST">
                    <button class="btn btn-outline-secondary" type="submit">홈 화면으로</button>
                </form>
            </div>
        </div>
    </center>
</body>
</head>

</html>